@model UserEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary()
<div class="ui small form">
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.USER_NO)</label>
            @Html.EditorFor(m => m.USER_NO, new { htmlAttributes = new { @readonly = "readonly" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.NAME)</label>
            @Html.EditorFor(m => m.NAME, new { htmlAttributes = new { placeholder = "" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.E_MAIL)</label>
            @Html.EditorFor(m => m.E_MAIL, new { htmlAttributes = new { placeholder = "" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.ADDRESS)</label>
            @Html.EditorFor(m => m.ADDRESS, new { htmlAttributes = new { placeholder = "" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.PHONE)</label>
            @Html.EditorFor(m => m.PHONE, new { htmlAttributes = new { placeholder = "" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.PHOTO)</label>
            @Html.EditorFor(m => m.PHOTO, new { htmlAttributes = new { placeholder = "", type = "file", accept = "image/x-png,image/gif,image/jpeg" } })
        </div>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(Model.PHOTO))
        {
            <img src="@Url.Action("GetPhotoImage","Account",new { photo = Model.PHOTO })" class="ui medium bordered image" />
        }
    </div>
    <div>擁有權限:</div>
    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        @Html.HiddenFor(m => Model.Roles[i].ROLE_NAME);
        @Html.HiddenFor(m => Model.Roles[i].ROLE_ID);
        @Html.HiddenFor(m => Model.Roles[i].ROLE_TYPE);
        @Html.HiddenFor(m => Model.Roles[i].CHG_DATE);
        @Html.HiddenFor(m => Model.Roles[i].CHG_PERSON);
        @Html.HiddenFor(m => Model.Roles[i].DEFAULT_YN);
        <div>
            @Html.CheckBoxFor(m => Model.Roles[i].CHECKED, new { htmlAttributes = new { } })
            @Model.Roles[i].ROLE_NAME
        </div>
    }
    <br />

    <div class="field">
        <div class="ui toggle checkbox form-group">
            <input type="checkbox" name="@nameof(Model.USER_STATUS)" @(Model.USER_STATUS == 1? "checked":"") value="1" />
            <label>啟用</label>
        </div>
    </div>

    <br />
    <div class="">
        <i class="edit icon"></i>
        最後更新日期: @Model.CHG_DATE?.ToString(CultureInfo.CurrentUICulture.DateTimeFormat.ShortDatePattern)
    </div>
    <br />
    <a class="ui left labeled icon button big basic" href="@Url.Action("ManagePage")">
        <i class="left arrow icon"></i>
        回上頁
    </a>
    <button type="submit" class="ui left labeled submit button big basic primary icon button">
        <i class="save icon"></i>
        修改完成
    </button>
</div>
}


