@model UserEditViewModel

@{
    ViewData["Title"] = "UserDetail";
}

<h2>個人資料</h2>
<div class="ui small form">
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.USER_NO)</label>
            @Html.EditorFor(m => m.USER_NO, new { htmlAttributes = new { @readonly = "readonly" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.NAME)</label>
            @Html.EditorFor(m => m.NAME, new { htmlAttributes = new { placeholder = "", @readonly = "readonly" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.E_MAIL)</label>
            @Html.EditorFor(m => m.E_MAIL, new { htmlAttributes = new { placeholder = "", @readonly = "readonly" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.ADDRESS)</label>
            @Html.EditorFor(m => m.ADDRESS, new { htmlAttributes = new { placeholder = "", @readonly = "readonly" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.PHONE)</label>
            @Html.EditorFor(m => m.PHONE, new { htmlAttributes = new { placeholder = "", @readonly = "readonly" } })
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>@Html.DisplayNameFor(m => m.PHOTO)</label>
            @Html.EditorFor(m => m.PHOTO, new { htmlAttributes = new { placeholder = "", type = "file", accept = "image/x-png,image/gif,image/jpeg" } })
        </div>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(Model.PHOTO))
        {
            <img src="@Url.Action("GetPhotoImage","Account",new { photo = Model.PHOTO })" class="ui medium bordered image" />
        }
    </div>
    <div>擁有權限:</div>
    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        @Html.HiddenFor(m => Model.Roles[i].ROLE_NAME);
        @Html.HiddenFor(m => Model.Roles[i].ROLE_ID);
        @Html.HiddenFor(m => Model.Roles[i].ROLE_TYPE);
        @Html.HiddenFor(m => Model.Roles[i].CHG_DATE);
        @Html.HiddenFor(m => Model.Roles[i].CHG_PERSON);
        @Html.HiddenFor(m => Model.Roles[i].DEFAULT_YN);
        <div>
            @Html.CheckBoxFor(m => Model.Roles[i].CHECKED, new { htmlAttributes = new { } })
            @Model.Roles[i].ROLE_NAME
        </div>
    }
    <br />
   
</div>


